<!DOCTYPE html>
<html lang="en">
  {% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <title>Email Validation</title>
    <link rel="stylesheet" href="{% static 'main_app/css/style.css' %}">
  </head>
  <body>
    <div id="wrapper">
      {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
