<html>
<head>
  <title>Welcome</title>
</head>
<body>

  <header>
    <h1>CodingDojo Wall</h1>
  </header>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <hr>

  {{ session['id'] }}
  <hr>

  <h1>Register new user</h1>
  <form action='/register' method='POST'>
    <label for="first_name">First Name: <input type="text" name="first_name" id="first_name" autofocus></label>
    <label for="last_name">Last Name: <input type="text" name="last_name" id="last_name"></label>
    <label for="email">Email address: <input type="text" name="email" id="email"></label>
    <label for="password">Password: <input type="text" name="password" id="password"></label> <!-- change input to type="password" -->
    <label for="password_conf">Password confirmation: <input type="text" name="password_conf" id="password_conf"></label><!-- change input to type="password" -->
    <input type="submit" value="Register">
  </form>
  <hr>

  <h1>Login</h1>
  <form action='/login' method='POST'>
    <label for="email">Email address: <input type="text" name="email" id="email"></label>
    <label for="password">Password: <input type="text" name="password" id="password"></label> <!-- change input to type="password" -->
    <input type="submit" value="Log In">
  </form>
  <hr>

  {{ all_users }}

</body>
</html>
