<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8" />
      <title>The Dojo</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div id="wrapper">
      <h1>Dojo Entry</h1>
      <form action="">
        <fieldset>
          <legend>Personal information</legend>
          <label>Ninja name:</label>
          <input type="text" name="name">
          <label>Belt rank:</label>
          <input type="text" name="belt">
          <input type="submit" value="Submit">
        </fieldset>
      </form>
    </div>
  </body>
</html>
