<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Secrets</title>
		<meta charset="utf-8">
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
	</head>
	<div class="container"></div>
	<body>
		<div>
			<h1>Hello, {{current_user.first_name}}!</h1>
		</div>
		<div>
			<label>Your Secret Here:</label>
			<form action="/create_secret" method="POST">
				{% csrf_token %}
				<div>
					<textarea name="secret"></textarea>
				</div>
				<div>
					<input type="submit" value="Post">
				</div>
			</form>
		</div>
		<div>
			<a href="/popular">Most Popular Secrets</a>
		</div>
		<div>
			<h1>Recent Secrets...</h1>
		</div>
		<div>
			{% for secret in recent_secrets %}
				<ul>{{secret.secret}} ({{elapsed_time}}) {{secret.num_likes}}<a href="/likes/{{secret.id}}"> Like</a> | <a href="/delete/{{secret.id}}">Delete</a></ul>
			{% endfor %}
		</div>
	</body>
</html>