<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8" />
      <title>Dojo Survey Index</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div id="wrapper">
      <form action='/result' method='POST'>
        <p>
          <label>Your Name: </label>
          <input type="text" name="name">
        </p>
        <p>
          <label>Dojo Location: </label>
          <select name="dojo">
            <option value="San Jose">San Jose</option>
            <option value="Bellevue">Bellevue</option>
            <option value="Burbank">Burbank</option>
            <option value="Dallas">Dallas</option>
          </select>
        </p>
        <p>
          <label>Favorite Language: </label>
          <select name="language">
            <option value="Python">Python</option>
            <option value="JavaScript">JavaScript</option>
            <option value="C++">C++</option>
          </select>
        </p>
        <p><label>Comment (optional):</label></p>
        <p><textarea name="comment" rows="4" cols="50"></textarea></p>
        <p><input type="submit" value="Submit"></p>
      </form>
    </div>
  </body>
</html>
