{% extends 'main_app/base.html' %}

{% block content %}
  <h1>Welcome to <span class="emph">Ninja <span class="gold">Gold</span></span>!</h1>
  <div id="gold">
    <h3>Your Gold: <span id="count">{{ request.session.gold }}</span></h3>
  </div>
  <div class="box">
    <h2>Farm</h2>
    <p>(earns 10-20 gold)</p>
    <form action="/process_farm_gold" method="post">
      {% csrf_token %}
      <input type="submit" value="Find Gold!" />
    </form>
  </div>
  <div class="box">
    <h2>Cave</h2>
    <p>(earns 5-10 gold)</p>
    <form action="/process_cave_gold" method="post">
      {% csrf_token %}
      <input type="submit" value="Find Gold!" />
    </form>
  </div>
  <div class="box">
    <h2>House</h2>
    <p>(earns 2-5 gold)</p>
    <form action="/process_house_gold" method="post">
      {% csrf_token %}
      <input type="submit" value="Find Gold!" />
    </form>
  </div>
  <div class="box">
    <h2>Casino</h2>
    <p>(earns/takes 0-50 gold)</p>
    <form action="/process_casino_gold" method="post">
      {% csrf_token %}
      <input type="submit" value="Find Gold!" />
    </form>
  </div>
  <h3>Activites:</h3>
  <div id="activities">
    {% if request.session.events %}
      {% for event in request.session.events %}
          <p class={{event.class}}>{{event.msg}}
      {% endfor %}
    {% else %}
      <p class="none">No activity here.</p>
    {% endif %}
  </div>
{% endblock %}
