*{
  margin: 0px;
  padding: 0px;
}

body{
  width: 970px;
}

h1{
  text-align: center;
  width:970px;
  margin-bottom: 80px;

}

ul{
  margin-left: 25px;
  width: 970px;
  margin-bottom: 80px;
}

p{
  margin-left: 5px;
  font-weight: bold;
  margin-bottom: 50px;
}
