* {
	margin: 0px;
	padding: 0px;
}
#container {
	width: 50%;
	margin: 50px auto;
	border: 1px solid gray;
	background-color: lightgreen;
	padding: 30px;
	border-radius: 9px;
	text-align: center;
}

form {
	margin-top: 30px;
}
 #random_word {
 	margin: 50px 0px 20px 0px;
 	border: 1px solid gray;
 	padding: 20px;
 	border-radius: 9px;
 }

h1 {
	word-wrap: break-word;
}

