<html>
<head>
  <title>Update</title>
</head>
<body>

    <h2>Update a Friend</h2>
    <form action='/update_friend/<friend_id>' method='POST'>
      <label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label>
      <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label>
      <label for="occupation">Occupation:<input type="text" name="occupation" id="occupation"></label>
      <input type="submit" value="Update">
    </form>
    <hr>

</body>
</html>
