<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8" />
      <title>Session Counter</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div id="wrapper">
      <h1>Counter</h1>
      <h2>{{ session['count'] }}</h2>
      <form action='/countup' method='POST'>
        <input type="submit" value="Add 2">
      </form>
      <form action='/reset' method='POST'>
        <input type="submit" value="Reset">
      </form>
    </div>
  </body>
</html>
