<html>
    <head>
      <title>Dojos Form</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/landingpage_styles.css') }}">
    </head>
    <body id="dojos">
      <h1>Dojos Form</h1>
      <form id=Languages action="/action_page.php" method="get">
        <input type="checkbox" name="languages" value="HTML"> I want to learn HTML<br>
        <input type="checkbox" name="languages" value="CSS"> I want to learn CSS<br>
        <input type="checkbox" name="languages" value="JavaScript"> I want to learn JavaScript<br>
        <input type="checkbox" name="languages" value="Python"> I want to learn Python<br>
        <input type="checkbox" name="languages" value="Mean"> I want to learn Mean<br>
        <input type="checkbox" name="languages" value="Ruby on Rails"> I want to learn Ruby on Rails<br>
        <input type="checkbox" name="languages" value="Lamp"> I want to learn Lamp<br>
        <input type="submit" value="Submit">
      </form>

      <p>Hope you enjoyed this short visit!</p>
      <p>Come back again to check for updates!</p>
    
    </body>
</html>