<html>
    <head>
      <title>About Ninjas</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/landingpage_styles.css') }}">
    </head>
    <body id="ninjas">
      <h1>What about Ninjas?</h1>
      <!-- this will output the value of welcome variable -->
      <h2 id="Definition">Definition of a Ninja(Wikipedia):</h2>
      <p id="about">A ninja (忍者?) or shinobi (忍び?) was a covert agent or mercenary in feudal Japan. The functions of the ninja included espionage, sabotage, infiltration, assassination and guerrilla warfare.[1] Their covert methods of waging irregular warfare were deemed "dishonorable" and "beneath" the samurai-caste, who observed strict rules about honor and combat.[2] The shinobi proper, a specially trained group of spies and mercenaries, appeared in the 15th century during the Sengoku period,[3] but antecedents may have existed in the 14th century,[4] and possibly in the 12th century (Heian or early Kamakura era).</p>
      
      <img src="{{ url_for('static', filename='img/ninjasgroup.jpg') }}" id="group" element.style width: 400px>

      <h1>Etymology</h1>
      <img src="{{ url_for('static', filename='img/ninjascript.png') }}" id="script">
      
      <p>Hope you enjoyed this short visit!</p>
      <p>Come back again to check for updates!</p>
    </body>
</html>