<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Secrets</title>
  </head>
  <body>

    {% if not request.session.logged_in %}

      <h3>You must log in.</h3>
      <form action='/' method='POST'>
        {% csrf_token %}
        <input type="submit" value="Return to Log In">
      </form>
      <hr/>

    {% else %}

      {% if not request.session.most_popular %}

        <!-- notification area -->
        {% if 'first_name' in request.session %}
          <h1>Hello, {{request.session.first_name}}!</h1>
        {% endif %}

        <form action='/logout' method='POST'>
          {% csrf_token %}
          <input type="submit" value="Log Out">
        </form>
        <hr/>

        <form action='/secrets/create' method='POST'>
          {% csrf_token %}
          <textarea name="secret" rows="8" cols="80"></textarea>
          <input type="submit" value="Post">
        </form>

        <!-- try anchor tag with href equal to the path -->
        <form action="/secrets/mostpopular" method="post">
          {% csrf_token %}
          <input type="submit" name="popular" value="Most Popular Secrets">
        </form>

        <hr/>

        <h1>Recent Secrets...</h1>
        <!-- for loop to show secrets -->

        {% for each in secrets %}
          <p>each: {{each.secret}}, timestamp: {{each.created_at}}, likes: {{each.likes__count}}</p>

          {% if each.creator.id == request.session.id %}
            <h5>You wrote this!</h5>
          {% endif %}

          {% if each.id in this_users_likes %}
            <h5>You liked this</h5>
          {% else %}

            <form action="/secrets/{{each.id}}/like" method="post">
              {% csrf_token %}
              <input type="submit" name="like" value="Like">
            </form>

          {% endif %}
          <hr/>
        {% endfor %}

      {% else %}

        <h1>Most Popular Secrets...</h1>

        <form action="/secrets/formandrecent" method="post">
          {% csrf_token %}
          <input type="submit" name="popular" value="Back">
        </form>

        <!-- for loop to show secrets -->
        {% for each in secrets %}
          <p>each: {{each.secret}}, timestamp: {{each.created_at}}, likes: {{each.likes__count}}</p>

          {% if each.creator.id == request.session.id %}
            <h5>You wrote this!</h5>
          {% endif %}

          {% if each.id in this_users_likes %}
            <h5>You liked this</h5>
          {% else %}

            <form action="/secrets/{{each.id}}/like" method="post">
              {% csrf_token %}
              <input type="submit" name="like" value="Like">
            </form>

          {% endif %}
          <hr/>
        {% endfor %}

      {% endif %}

    {% endif %}

  </body>
</html>
