<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Info about Ninjas!</title>
    <link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename='ninja.css')}}">
  </head>
  <body><h1>Here are some fun facts about ninjas:</h1>

    <ul>
      <li>A ninja are also known as shinobi</li>
      <li>Ninjas were covert agents in fuedal Japan</li>
      <li>Historical accounts are scarce</li>
    </ul>

    <p> Samurai is a word often used interchangably with ninja, however they are two different things. Samurai were warrior from the noble classes for Japan, while ninjas were spies and mercenaries that often carried out terrist attacks on targets. They were similar in that members of each class are born into the profession and the traditions were passed down through families.</p>

    <img src ="{{url_for("static", filename = "ninja.png")}}">


  </body>
</html>
